
_doc_smerge_base="docker run --rm -it               \
    -v /tmp/.X11-unix:/tmp/.X11-unix                \
    -v $HOME/docker/data/smerge/root:/root          \
    -v $HOME/docker/data/smerge/home:/home          \
    -v $HOME/git.doc:/git.doc                       \
"
_doc_smerge_base_local=" $_doc_smerge_base -e DISPLAY=unix$DISPLAY"
_doc_smerge_base_remote="$_doc_smerge_base -e DISPLAY=:${DISPLAY##*:} --net=host -v $HOME/.Xauthority:/root/.Xauthority"

_smerge_doc_arg=''
_smerge_arg=''
_doc_smerge_get_arg() {
    _smerge_doc_arg=$1
    shift
    _smerge_arg=$*
    if [[ $_smerge_doc_arg == '-' ]]; then
        _smerge_doc_arg=''
    fi
    echo docker arg: $_smerge_doc_arg
    echo smerge arg: $_smerge_arg
    echo
}

_smerge_usr_arg='-'
_smerge_uid_arg=0
_smerge_gid_arg=0
_smerge_usr_arg_tail=''
_doc_smerge_get_arg_id() {
    _smerge_usr_arg=$1
    _smerge_uid_arg=$2
    _smerge_gid_arg=$3
    if [[ $_smerge_usr_arg != '' && $_smerge_usr_arg != '-' ]]; then
        _smerge_uid_arg=`id -u $_smerge_usr_arg`
        _smerge_gid_arg=`id -g $_smerge_usr_arg`
    fi
    shift
    _smerge_usr_arg_tail=$*
}

doc_run_xqin_smerge_local() {
	xhost +
    local docArg=$1
    if [[ $docArg == '-' ]]; then docArg=''; fi
    shift
    _doc_smerge_get_arg_id $*
	$_doc_smerge_base_local $docArg xqin:smerge $_smerge_usr_arg $_smerge_uid_arg $_smerge_gid_arg $_smerge_usr_arg_tail
	xhost -
}
alias doc.run.xqin.smerge.local='doc_run_xqin_smerge_local'
doc_run_xqin_smerge_remote() {
    local docArg=$1
    if [[ $docArg == '-' ]]; then docArg=''; fi
    shift
    _doc_smerge_get_arg_id $*
	$_doc_smerge_base_remote $docArg xqin:smerge $_smerge_usr_arg $_smerge_uid_arg $_smerge_gid_arg $_smerge_usr_arg_tail
}
alias doc.run.xqin.smerge.remote='doc_run_xqin_smerge_remote'


doc_run_xqin93_smerge_local() {
	xhost +
    local docArg=$1
    if [[ $docArg == '-' ]]; then docArg=''; fi
    shift
    _doc_smerge_get_arg_id $*
	$_doc_smerge_base_local $docArg xqin93/smerge $_smerge_usr_arg $_smerge_uid_arg $_smerge_gid_arg $_smerge_usr_arg_tail
	xhost -
}
alias doc.run.xqin93.smerge.local='doc_run_xqin93_smerge_local'
doc_run_xqin93_smerge_remote() {
    local docArg=$1
    if [[ $docArg == '-' ]]; then docArg=''; fi
    shift
    _doc_smerge_get_arg_id $*
	$_doc_smerge_base_remote $docArg xqin93/smerge $_smerge_usr_arg $_smerge_uid_arg $_smerge_gid_arg $_smerge_usr_arg_tail
}
alias doc.run.xqin93.smerge.remote='doc_run_xqin93_smerge_remote'

doc_dbg_xqin93_smerge_local() {
	xhost +
    local docArg=$1
    if [[ $docArg == '-' ]]; then docArg=''; fi
    shift
    _doc_smerge_get_arg_id $*
	$_doc_smerge_base_local $docArg xqin93/smerge:dev $_smerge_usr_arg $_smerge_uid_arg $_smerge_gid_arg $_smerge_usr_arg_tail
	xhost -
}
alias doc.dbg.xqin93.smerge.local='doc_dbg_xqin93_smerge_local'
doc_dbg_xqin93_smerge_remote() {
    local docArg=$1
    if [[ $docArg == '-' ]]; then docArg=''; fi
    shift
    _doc_smerge_get_arg_id $*
	$_doc_smerge_base_remote $docArg xqin93/smerge:dev $_smerge_usr_arg $_smerge_uid_arg $_smerge_gid_arg $_smerge_usr_arg_tail
}
alias doc.dbg.xqin93.smerge.remote='doc_dbg_xqin93_smerge_remote'
